@model IEnumerable<Auction>

@{
    Layout = "_AreaPublica";
    ViewData["Title"] = "Busca";
}

<h1>Você pesquisou por "@ViewData["termo"]"</h1>
<h3>Leilões encontrados</h3>
<section class="tiles">
    @foreach (var auction in Model)
    {
        <article class="leilao">
            <span class="image">
                <img src="@auction.UrlPoster" alt="@auction.Title" />
            </span>
            <h4>@auction.Title</h4>
            <div class="content">
                <p>@auction.Description.Substring(0, 100)</p>
            </div>
        </article>
    }
</section>