@model Category

@{
    Layout = "_AreaPublica";
    ViewData["Title"] = "Categoria";
}

<h1>@Model.Name</h1>
<span class="image main img-categoria">
    <img src="~/@Model.UrlImage" alt="@Model.Name" />
</span>
<h3>Leilões em andamento</h3>
<section class="tiles">
@foreach (var leilao in Model.Auctions.Where(a => a.Status == AuctionStatus.Trading))
{
    <article class="leilao">
        <span class="image">
            <img src="@leilao.UrlPoster" alt="@leilao.Title" />
        </span>
        <h4>@leilao.Title</h4>
        <div class="content">
            <p>@leilao.Description.Substring(0,100)</p>
        </div>
    </article>
}
</section>