@model IEnumerable<Auction>

@{
    ViewData["Title"] = "Leilões";
    var termo = ViewData["termo"];
}

<div class="card">
    <div class="card-header d-flex">
        <h4 class="flex-grow-1">Leilões</h4>
        <a class="btn btn-outline-primary" asp-controller="Leilao" asp-action="Insert" title="Inclusão">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Novo
        </a>
    </div>
    <div class="card-body">
        <form class="form-inline mb-3" asp-controller="Leilao" asp-action="Pesquisa" method="get">
            <input name="termo" class="form-control flex-grow-1"
                    value="@termo"
                    placeholder="Pesquisar por título, categoria ou descrição..." />
            <button class="btn btn-outline-secondary ml-2">
                <i class="fa fa-search"></i>
                <span class="d-none d-md-inline">Pesquisar</span>
            </button>
        </form>
        <div class="row">
            <div class="col-12">
                <table class="col-12 table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Título</th>
                            <th>Situação</th>
                            <th>Descrição</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var auction in Model)
                        {
                            <tr class="row-leilao-@auction.Id">
                                <td>@auction.Id</td>
                                <td>@auction.Title</td>
                                <td>
                                    @switch (auction.Status)
                                    {
                                        case AuctionStatus.Draft:
                                            <span>Rascunho</span>
                                            break;
                                        case AuctionStatus.Trading:
                                            <span>Pregão iniciado em @auction.DateOpen.Value.ToString("dd/MM/yyyy hh:mm")</span>
                                            break;
                                        case AuctionStatus.Close:
                                            <span>Finalizado em @auction.DateClose.Value.ToString("dd/MM/yyyy hh:mm")</span>
                                            break;
                                        default:
                                            <span>@auction.Status</span>
                                            break;
                                    }
                                </td>
                                <td>@auction.Description</td>
                                <td>
                                    @if (auction.Status == AuctionStatus.Draft)
                                    {
                                        <a class="btn btn-light" asp-controller="Leilao" asp-action="Edit" asp-route-id="@auction.Id" title="Edição">
                                            <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                        </a>
                                        <form asp-action="Inicia">
                                            <input type="hidden" name="id" value="@auction.Id" />
                                            <button class="btn btn-light" title="Iniciar Pregão">
                                                <i class="fas fa-play-circle"></i>
                                            </button>
                                        </form>
                                    }
                                    @if (auction.Status != AuctionStatus.Trading)
                                    {
                                        <a class="btn btn-light btnRemoveLeilao" data-id="@auction.Id" data-titulo="@auction.Title" title="Exclusão">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    }
                                    @if (auction.Status == AuctionStatus.Trading)
                                    {
                                        <form asp-action="Finaliza">
                                            <input type="hidden" name="id" value="@auction.Id" />
                                            <button class="btn btn-light" title="Finalizar Pregão">
                                                <i class="fas fa-stop-circle"></i>
                                            </button>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

